<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 stopOnFailure="false">
	<testsuites>
		<testsuite name="Yii2 Container Configurator Unit Test Suite">
			<directory>./tests/unit</directory>
		</testsuite>
		<testsuite name="Yii2 Container Configurator Functional Test Suite">
			<directory>./tests/functional</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory>vendor</directory>
			<directory>tests</directory>
		</blacklist>
	</filter>
</phpunit>
